@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-50 text-secondary-main dark:bg-black dark:text-neutral-100;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-secondary-main dark:text-white;
  }
}
